@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}

/* Menu design */
#menu{
    background: whitesmoke;
}
.brand-logo{
    padding: 0 30px;
}
.brand-logo img{
    width: 117px;
    height: 102px;
    margin-top: 4px;
}
.menu-item a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 8px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 12px 0;
    color: rgb(128, 129, 129);
    font-weight: 300;
}
.menu-item a:hover{
    background: rgb(250,212,218);
}
#food-container{
    background: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    height: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;
}
::-webkit-scrollbar{
    display: none;
}
#header .address{
    font-size: 20px;
}
.your-address{
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    text-transform: capitalize;
}
.add-box i{
    font-size: 20px;
}
#header select{
    width: 150px;
    overflow: hidden;
    border: none;
    outline: none;
    background: none;
    color: rosybrown;
    padding: 0 5px;
}
.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
    /* font-family: 'Aclonica', sans-serif; */
}
.util i:active,.user i:active{
    color: white;
    background: crimson;
}
.food-items{
    display: none;
    height: 100%;
}
#south-indian,#soup,#chappati,#vegetable,#paneer,#chinese,#dessert{
    margin-top: 40px;
}
#paneer #item-card,#vegetable #item-card{
    background: rgb(218,253,188);
}
#south-indian #item-card, #chinese #item-card{
    background: rgb(221,243,243);
}
#category-name, .item-menu{
    margin: 10px;
    font-size: 35px;
    color: coral;
    font-family: 'Aclonica', sans-serif;
}
#item-card{
    width: 178px;
    height: 240px;
    padding: 10px;
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
    background: rgb(253,221,226);
    cursor: pointer;
    transition: o.5s all ease-in-out;
    font-family: 'Open Sans', sans-serif;
}
#card-top{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}
#rating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 14px;
}
.fa-heart-o{
    padding: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.toggle-heart{
    background: orangered;
    color: white;
}
#item-card img{
    width: 115px;
    height: 110px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
}
#item-card:hover img{
    transform: scale(1.2);
}
#item-name{
    margin: 5px 0;
    font-weight: bolder;
    color: darkslategray;
    font-size: 18px;
}
#item-price{
    margin: 0;
    color: rgb(2,27,27);
    font-weight: 500;
    font-size: 18px;
}
.show{
    display: block;
}
.about{
    display: none;
}
#about{
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
#about .image{
    box-sizing:border-box;
    /* overflow-y: scroll; */
    flex: 1 1 22rem;
}
#about .image img{
    width: 100%;
}
#about .content{
    flex: 1 1 22rem;
}
#about .content .title{
    font-size: 4rem;
    color: var(--black);
}
#about .content p{
    font-size: 1.7rem;
    color: var(--light-black);
    padding: 1rem 0;
    line-height: 2;
}
#abou .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
#abou .icons-container .icons{
    flex: 1 1 12rem;
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
}
#abou .icons-container .icons img{
    height: 5rem;
}
#abou .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--light-black);
    font-weight: normal;
}
.btn{
    font-size: 18px;
    margin: 0 16px; 
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
} 
.btn:active{
    color: white;
    background: crimson;
}
#cart{
    background: whitesmoke;
    padding-right: 30px;
    overflow-y: scroll;
}
.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
}
/* #category-list{
    position: relative;
     top: 0; 
} */

/* .ite-menu{
    position: sticky;
    top: 86px;
} */
/* .item-menu{
    position: sticky;
    top: 100px;
} */
/* .border{
    position: sticky;
    top: 164px;
    margin-bottom: 30px;
} */
.item-menu{
    margin: 0;
    /* padding-top: 60px; */
    /* height: 94px; */
    font-size: 30px;
    margin-top: 40px;
    color: indianred;
    background: whitesmoke;
}
.border{
    width: 80px;
    height: 4px;
    margin: -3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: coral;
}
.card-list:hover {
    /* transform: scale(1.5); */
    background: #ecf7e8;
    border-radius: 40px;
    /* width: 250px */
}
.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.list-card:hover{
    background: rgb(255,216,222);
}
.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.15);
}
.list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-name{
    font-size: 20px;
    margin: 2px 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94,43,43);
}
/* #category-list{
    display: none;
} */
.cart-toggle{
    display: none;
}

#cart-page{
    background: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}
#cart-title{
    font-size: 35px;
    margin: 0;
    color: indianred;
}
#cart-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}
#m-total-amount{
    display: none;
}
#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}
#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
    padding: 3px 8px;
}
#cart-page table tbody img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
}
#checkout p{
    margin: 15px 0;
    float: left;
}
#total-price,#total-item{
    font-size: 25px;
    color: indianred;
}
.cart-btn{
    outline: none;
    border: none;
    background: crimson;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}
.cart-btn:active{
    color: crimson;
    background: none;
    border: 1px solid crimson;
}
#delivery{
    font-size: 20px;
    color: limegreen;
}
#mobile-view{
    display: none;
}
#south-indian{
    margin-top: 10px;
}
@media screen and (max-width : 800px) 
and (-webkit-min-device-pixel-ratio: 2)
{
    #container{
        display: none;
    }
    #container #menu .menu-item{
        position: absolute;
        top: 99%;left: 0;right: 0;
        background-color: var(--white);
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    #container #menu .menu-item.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    #container #menu .menu-item a{
        display: block;
        margin: 2rem;
    }
    #menu-btn{
        display: inline-block;
        font-size: 22px;
    }
    #mobile-view{
        min-height: -webkit-fill-available;
        display: grid;
        grid-template-rows: 120px 1fr 50px;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
    .mobile-top{
        padding: 5px 15px;
        z-index: 1;
        background: white;
    }
    .item-container{
        overflow-y: scroll;
    }
    .logo-box,.top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo{
        width: 90px;
        height: 70px;
    }
    .logo-box .your-address{
        font-size: 18px;
        width: 150px;
        color: crimson;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .top-menu{
        color: indianred;
    }
    .top-menu i{
        font-size: 20px;
        cursor: pointer;
        padding: 12px 5px;
        border-radius: 50%;
    }
    .m-cart-toggle{
        color: white;
        background: lightcoral;
    }
    .category-header{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        position: sticky;
        top:-.3px;
        background: white;
        z-index: 1;
        border-bottom: 1px solid rgb(219,219,219);
        margin: 0;
    }
    .toggle-category{
        display: none;
        position: relative;
    }
    .list-card{
        margin: 0 10px;
        text-align: center;
    }
    .list-card img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .list-card:hover{
        background: none;
        transform: none;
    }
    .list-card:hover img{
        transform: none;
        transition: none;
    }
    .list-name{
        margin: 5px 0;
        color: coral;
        width: max-content;
        font-size: 16px;
    }
    #food-items{
        padding: 5px 10px;
    }
    .mobile-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        background: white;
        border-top: 1px solid rgb(219,219,219);
    }
    .mobile-footer a{
        color: indianred;
        text-decoration: none;
        font-size: 20px;
        position: sticky;
        bottom: 0;
    }
    #category-name{
        font-size: 25px;
    }
    #item-card{
        height: 200px;
        width: 150px;
    }
    #item-card img{
        height: 100px;
        width: 100px;
        margin-bottom: 8px;
    }
    #item-card:hover img{
        transform: none;
    }
    #item-name,#item-price{
        font-size: 15px;
        /* margin: 7px 0; */
    }
    .list-card{
        flex-direction: column;
    }
    #cart-page{
        margin: 3px 0;
        padding: 10px 5px;
        padding-bottom: 30px;
        border-top: 1px solid rgb(219,219,219);
    }
    #cart-page table thead td{
        font-size: 18px;
    }
    #cart-page table tbody img{
        width: 60px;
        height: 60px;
    }
    #cart-title{
        font-size: 25px;
        display: inline-block;
    }
    #m-total-amount{
        display: inline-block;
        color: lightcoral;
        padding: 5px 10px;
        margin: 0;
        border: 1px solid lightcoral;
        float: right;
    }
    .cart-btn{
        font-size: 14px;
        background: lightcoral;
        padding: 8px 15px;
        margin: auto;
    }
    .btn-box{
        text-align: center;
    }
    #south-indian{
        margin-top: 10px;
    }

}

@media screen and (max-width: 380px) {
    #item-card{
        height: 210px;
        width: 160px;
    }
    #food-items{
        padding: 0;
    }
}